<mat-toolbar color="primary">
  <mat-icon>event_note</mat-icon>
  <span>Kanban Board</span>
</mat-toolbar>

<div class="content-wrapper">
  <button mat-button (click)="newTask()" class="new-task-button">
      <mat-icon>add</mat-icon> Add Task
  </button>
  <div class="container-wrapper">

    <div class="container">
      <h2>Backlog</h2>
      <mat-card 
        cdkDropList
        id = "todo"
        #todoList ="cdkDropList"
        [cdkDropListData] = "todo | async"
        (cdkDropListDropped) = "drop($event)"
        [cdkDropListConnectedTo] = "[inProgressList, doneList]"
      >
        <p class="empty-label" *ngIf="(todo | async)?.length===0">Empty List</p>
        <app-task *ngFor="let task of todo | async"
          cdkDrag
          [task] = "task"
          (edit) = "edit('todo', $event)"
        >
        </app-task>
      </mat-card>
    </div>

    <div class="container">
      <h2>In progress</h2>
      <mat-card 
        cdkDropList
        id = "inProgress"
        #inProgressList ="cdkDropList"
        [cdkDropListData] = "inProgress | async"
        (cdkDropListDropped) = "drop($event)"
        [cdkDropListConnectedTo] = "[todoList, doneList]"
      >
        <p class="empty-label" *ngIf="(inProgress | async)?.length===0">Empty List</p>
        <app-task *ngFor="let task of inProgress | async"
          cdkDrag
          [task] = "task"
          (edit) = "edit('inProgress', $event)"
        >
        </app-task>
      </mat-card>
    </div>

    <div class="container">
      <h2>Done</h2>
      <mat-card 
        cdkDropList
        id = "done"
        #doneList ="cdkDropList"
        [cdkDropListData] = "done | async"
        (cdkDropListDropped) = "drop($event)"
        [cdkDropListConnectedTo] = "[inProgressList, todoList]"
      >
        <p class="empty-label" *ngIf="(done | async)?.length===0">Empty List</p>
        <app-task *ngFor="let task of done | async"
          cdkDrag
          [task] = "task"
          (edit) = "edit('done', $event)"
        >
        </app-task>
      </mat-card>
    </div>
  </div>
</div>